@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: #070707;
    --foreground: #ffffff;
  }

  /* The font weight at here is following the figma design */
  * {
    @apply m-0 box-border p-0;
  }

  body {
    @apply bg-black text-foreground;
  }
}

@layer utilities {
  .button-animate-110 {
    @apply duration-300 ease-in-out hover:scale-110 active:scale-90;
  }

  .button-animate-105 {
    @apply duration-300 ease-in-out hover:scale-105 active:scale-95;
  }

  .Toastify__toast {
    background-color: #141b1d;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Background Image*/
body {
  background-image: url("/frens/nofrenportdim.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

/* sui-fren-container */
/* .sui-fren-container {
  position: fixed;
  top: 18%;
  left: 95%;
  transform: translate(-83%, -40%);
  width: 10vw;
  height: auto;
  overflow: visible;
} */
.sui-fren-image {
  width: 100%;
  height: auto;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  animation: bounce 2s infinite;
}
.scroll-down span {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.arrow {
  width: 24px;
  height: 24px;
  border-bottom: 4px solid gray;
  border-right: 4px solid gray;
  transform: rotate(45deg);
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
